body {
	background: url("http://artmusela.com/wp-content/uploads/2013/01/LACMA3.jpg");
	background-repeat: no-repeat;
  font-family: "Century Gothic";
}

h1 {
	color: #008B8B;
	font-size: 51px;
	padding: 5px;
	margin-bottom: 0px;
}

h2 {
	color: black;
	font-size: 13px;
	padding: 2px;
  padding-left: 5px;
	margin-top: 0px;
}

h3 {
	color: white;
	font-size: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
}


a {
	display: block;
	color: black;
	margin-top: 5px;
	font-size: 14px;
	z-index: 2;
	text-decoration: none;
}

a:hover {
	color: white;
}

h3#about_me:hover {
  color: rgb(253, 181, 66);

}

div#name_text {
  display: none;
}

p {
	font-family: "Century Gothic";
	font-size: 14px;
	margin-top: 0px;
}

#container {
	width: 1200px;
  height: 450px;
}

#contents {
	float: left;
  width: 270px;
  height: 450px;
  background-color: #008B8B;
  opacity: 0.8;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 5px;
  text-align: left;
	padding-left: 10px;
	opacity: 1;
}

#viewer {
  float: left;
  position: block;
  width: 700px;
  height: 450px;
  margin-left: 30px;
}

#viewer img {
  display: none;
  max-height: 100%;
  opacity: 0.8;
  border-radius: 5px;
}

#art_credit {
  clear: both;
  font-family: "Century Gothic";
  font-size: 10px;
  color: white;
  margin-left: 10px;
}

#art_credit:hover {
	font-size: 16px;
	color: yellow;
}





